<main class="container mt-4">
    <article>
        <h1>{{title}}</h1>
        <p class="ml-2 text-center">Written by {{user.username}}</p>
        <p class="lead text-center">{{content}}</p>
    </article>
    {{#if true}}
    <button id={{id}} class="delete-btn btn btn-primary btn-sm">Delete</button>
    {{/if}}
    <h5>Comments</h5>
    {{#each (reverse comments)}}
    <div class="comment-box form-outline w-50">
        <div class="border border-dark">
            <p class="ml-2">{{user.username}}</p>
            <p>{{content}}</p>
        </div>
    </div>
    {{/each}}

    {{#if logged_in}}
    <form class="comment-box new-comment-form" class="mb-3">
        <div class="mb-3">
            <textarea class="form-outline w-50" id="content-new-comment" rows="3" placeholder="Add a comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
    {{/if}}
</main>