<main class="container mt-5">
  <article>
    <h1>{{title}}</h1>
    <p>Written by {{user.username}} <br>
        {{user.profile_picture}}
    </p>
    <p>{{content}}</p>
  </article>
  {{#if true}}
  <button id={{id}} class="delete-btn btn btn-primary">Delete</button>
  {{/if}}
  <h3>Comments:</h3>
  {{#if logged_in}}
  <form class="new-comment-form" class="mb-3">
    <div class="mb-3">
      <label for="comment" class="form-label">Add Comment:</label>
      <textarea class="form-control" id="content-new-comment" rows="3" placeholder="Add a comment"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/if}}
  {{#each comments}}
  <div class="comment mb-3">
 
    <div class="d-flex align-items-center">
      <p class="ml-2">{{user.username}}</p>
      <img src="../public/uploads/{{user.profile_picture}}" alt="Profile Picture" style="max-width: 50px; max-height: 50px;">
      
    </div>
    <p>{{content}}</p>
  </div>
  {{/each}}


   <script src="../public/js/upload-profile-picture.js"></script>

</main>

   <script src="/js/delete.js"></script>
</main>

